@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200;400;600&family=Hachi+Maru+Pop&family=Poppins:ital,wght@0,200;1,200&display=swap');

/*Page header*/

h1 {
    font-family: 'gluten', cursive;
    font-weight: 600;
    text-align: center;
    font-size: 100px;
    color: #055C00;
    margin: 0;
    padding: 30px 0px 5px;
    text-shadow: 2px 2px black;
}

h2 {
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    color: #296415;
    margin: 0;
    padding-bottom: 25px;
}

/*Mascot and game intro area*/
.mascot-image {
    width: 200px;
    height: 200px;
}

.mascot-text {
    font-family: 'Poppins', sans-serif;
    color: #465438;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    padding-right: 5px;
    font-weight: bolder;
}

/*Game section*/

#game-section {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(4, 6rem);
    grid-gap: 1rem;
    perspective: 800px;
    padding-bottom: 40px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background: #41ac3c;
    backface-visibility: hidden;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.toggleCard {
    transform: rotateY(180deg);
}

.front {
    transform: scaleX(-1);
}

.lives-text {
    font-family: 'Hachi Maru Pop', cursive;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    background-color: white;
}

.background {
    background: url('../images/veg-background.jpg');
    background-size: cover;
}

/*Random facts section*/

#facts-text {
    font-family: 'Poppins', sans-serif;
    color: #465438;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}

#facts-button {
    border-radius: 12px;
    padding: 12px 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #296415;
}

.button-margin {
    margin-top: 10px;
}

.didyou-text {
    font-family: 'Poppins', sans-serif;
    color: #465438;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

/*Page footer*/

h4 {
    font-family: 'Poppins', sans-serif;
    ;
    color: #465438;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

/*404 page*/

.return-button {
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #41ac3c;
}

.return-button a {
    text-decoration: none;
    color: inherit;
}

/*General*/

.center-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Media Queries*/

@media screen and (max-width: 350px) {
    #game-section {
        display: grid;
        grid-template-columns: repeat(3, 6rem);
        grid-template-rows: repeat(4, 6rem);
        grid-gap: 0.2rem;
        perspective: 800px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1025px) {
    .mascot-text {
        font-family: 'Poppins', sans-serif;
        color: #465438;
        font-size: 42px;
        text-align: center;
        padding: 100px 18px 0px 8px;
        font-weight: bolder;
        margin-right: 40px;
    }

    .mascot-image {
        width: 350px;
        height: 350px;
        margin-left: 60px;
    }

    h2 {
        font-family: 'Hachi Maru Pop', cursive;
        font-weight: 400;
        text-align: center;
        font-size: 60px;
        color: #296415;
        margin: 0;
        padding-bottom: 25px;
    }

    h1 {
        font-family: 'gluten', cursive;
        font-weight: 600;
        text-align: center;
        font-size: 130px;
        color: #055C00;
        margin: 0;
        padding: 30px 0px 5px;
        text-shadow: 2px 2px black;
    }

    h4 {
        font-family: 'Poppins', sans-serif;
        ;
        color: #465438;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    #facts-text {
        font-family: 'Poppins', sans-serif;
        color: #465438;
        font-size: 18px;
        text-align: center;
        font-weight: bolder;
    }

    .didyou-text {
        font-family: 'Poppins', sans-serif;
        color: #465438;
        font-size: 25px;
        text-align: center;
        font-weight: bolder;
    }

    .mascot-text {
        font-family: 'Poppins', sans-serif;
        color: #465438;
        font-size: 35px;
        text-align: center;
        padding: 120px 18px 0px 8px;
        margin-top: 100px;
        font-weight: bolder;
    }

    .mascot-image {
        width: 320px;
        height: 320px;
    }

    #game-section {
        display: grid;
        grid-template-columns: repeat(3, 8rem);
        grid-template-rows: repeat(4, 8rem);
        grid-gap: 1.4rem;
        perspective: 800px;
        padding-bottom: 40px;
    }

    h4 {
        font-family: 'Poppins', sans-serif;
        ;
        color: #465438;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        margin-top: 30px;
    }
}

@media screen and (min-width: 480px) {
    .mascot-text {
        font-family: 'Poppins', sans-serif;
        color: #465438;
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
        padding-right: 5px;
        font-weight: bolder;
    }
}